[Desktop Entry]
Type=Application
Name=Otush
GenericName=Speech to Text
Comment=A free, open source, offline speech-to-text application
Exec=otush
Icon=com.clusterat.otush
Terminal=false
Categories=Utility;AudioVideo;Accessibility;
Keywords=speech;text;transcription;dictation;whisper;voice;
StartupNotify=true
